.footer {
    padding: 20px 0px;
    background: var(--color-darkblack);
    &__text {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: var(--color-lightgray);
        margin: 0;
    }
    &__visitors {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: var(--color-lightgray);
        margin: 0;
    }
}

