.privacy {
    padding: 54px 0;
    &__title {
        font-size: 48px;
        line-height: 58px;
        color: var(--color-black);
        margin: 0;
        margin-bottom: 30px;
    }
    &__version {
        font-size: 21px;
        line-height: 25px;
        color: var(--color-black);
        margin-bottom: 30px;
    }
    &__text {
        width: 605px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-black);
        margin: 0;
    }
}