:root {
    --color-darkblack: #0d100f;
    --color-black: #333333;
    --color-gray: #b8b5b5;
    --color-lightgray: #eeeeef;
    --color-mercury: #e1e1e1;
    --color-white: #ffffff;
    --color-blue: #2e7f98;
    --color-lightblue: #2fbcd3;
}

* {
    box-sizing: border-box;
}

html,
body {
    background-color: var(--color-white);
    font-family: "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    height: 100%;
}

body.lock {
    overflow: hidden;
}
.grid {
    display: grid;
    grid-template-areas:
        "aside header"
        "aside page";
    grid-template-rows: 82px 1fr;
    grid-template-columns: 18% 1fr;
    min-height: 100vh;
}
.header {
    grid-area: header;
}
.aside {
    grid-area: aside;
}
.page {
    grid-area: page;
}
main {
    flex: 1 1 auto;
}
.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}
.container__page {
    max-width: 1320px;
    // width: 100%;
    // padding: 0 15px;
    margin: 0 auto;
    min-height: 100%;
}
.container__admin {
    max-width: 1114px;
    padding: 0 15px;
    margin: 0 auto;
}
.none {
    display: none;
}

.wrapper {
    overflow: hidden;
}
.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
.btn--empt {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: var(--color-lightblue);
    background-color: var(--color-white);
    padding: 10px 24px;
    border: 1px solid var(--color-lightblue);
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: var(--color-white);
        background-color: var(--color-lightblue);
    }
}
.btn--full {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: var(--color-white);
    background-color: var(--color-lightblue);
    padding: 10px 24px;
    border: 1px solid var(--color-lightblue);
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    &:hover {
        border: 1px solid var(--color-blue);
        background-color: var(--color-blue);
    }
}
