// // #speedtest {
// //     position: relative;
// //     width: 300px;
// //     height: 300px;
// //     padding: 20px;
// //     border-radius: 6px;
// //     box-sizing: border-box;
// // }
// // #speedtest #gauge {
// //     width: 100%;
// //     height: 100%;
// //     padding: 12px;
// //     background: #fff;
// //     border-radius: 50%;
// //     box-sizing: border-box;
// // }
// #speedtest #gauge path:first-child {
//     opacity: 1 !important;
//     display: block !important;
// }
// #speedtest #gauge-label {
//     position: absolute;
//     top: 47.5%;
//     left: 50%;
//     font-size: 64px;
//     -webkit-transform: translate(-50%, -50%);
//     transform: translate(-50%, -50%);
//     color: #e31212;
// }
// #speedtest #gauge-label:after {
//     content: "Mbit/s";
//     position: absolute;
//     font-size: 35%;
//     bottom: 5px;
//     left: 50%;
//     -webkit-transform: translate(-50%, 100%);
//     transform: translate(-50%, 100%);
// }
// #speedtest:before,
// #speedtest:after {
//     display: block;
//     position: absolute;
//     bottom: 25%;
//     font-family: inherit;
//     font-size: 14px;
//     color: #9198af;
// }
// #speedtest:before {
//     content: "0";
//     left: 28%;
// }
// #speedtest:after {
//     content: "100";
//     right: 28%;
// }

.color {
    stroke: red !important;
}

.hide {
    display: none;
}

.speedometer{
    &__value {
        margin-top: -205px;
        font-size: 54.6411px;
        line-height: 66px;
        color: #2e7f98;
        &::after {
            content: "mpbs";
            display: block;
            margin-top: 20px;
            margin-bottom: 6px;
            font-size: 21.2493px;
            line-height: 26px;
            color: #2e7f98;
        }
    }
    &__btn {
        font-size: 21.2493px;
        line-height: 26px;
        color: #2fbcd3;
        padding: 5px;
        transition: all 0.3s ease-in-out;
        margin-bottom: 110px;
        &:hover {
            color: #2e7f98;
        }
    }
}

