.traceroute {
    position: relative;
    padding: 44px 0;
    &__title {
        position: relative;
        display: inline-block;
        margin: 0;
        margin-bottom: 63px;
        font-size: 48px;
        line-height: 58px;
        color: var(--color-black);
        &::after {
            content: "";
            position: absolute;
            top: 81px;
            right: -10px;
            left: -10000px;
            height: 4px;
            background-color: var(--color-blue);
        }
    }
    &__text {
        font-size: 18px;
        line-height: 22px;
        color: var(--color-black);
        margin: 0;
        margin-bottom: 30px;
    }
}
